@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  /*Обнуление*/
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  z-index: 3;
}

.header-flex {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffb8ca;
}

.header__logo-icon {
  height: 50px;
}

.header__mobile {
  position: fixed;
  padding: 20px 20px;
  top: 0;
  left: 0;
  background-color: #e17992;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
@media screen and (min-width: 320px) {
  .header__mobile {
    width: 250px;
    height: 502px;
  }
}
@media screen and (min-width: 768px) {
  .header__mobile {
    width: 254px;
    height: 1020px;
  }
}
@media screen and (min-width: 1200px) {
  .header__mobile {
    display: none;
  }
}
.header__mobile.is-open {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.header__burger {
  margin-left: auto;
  width: 20px;
  height: 12px;
  background-color: #ffb8ca;
}
@media screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

.header__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header__mobile-button {
  margin-top: 40px;
  margin-bottom: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  width: 209px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.header__mobile-button:hover {
  background-color: #ecebeb;
}
@media screen and (min-width: 768px) {
  .header__mobile-button {
    width: 186px;
  }
}

.header__mobile-list + .header__mobile-list {
  margin-top: 22px;
}

.header__mobile-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
}

.header__nav {
  margin-left: 128px;
  z-index: 3;
}
@media screen and (min-width: 320px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: block;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.header__nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #d41443;
}

.header__nav-link-active {
  color: #d41443;
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 159px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.header__button:hover {
  background-color: #ecebeb;
}
@media screen and (min-width: 320px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    margin-left: auto;
  }
}

.hero {
  background-color: #ffb8ca;
  position: relative;
}

.hero__elipse {
  position: absolute;
  top: -30px;
  right: 149px;
  z-index: 0;
}/*# sourceMappingURL=main.css.map */