.header-flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color;
  z-index: 2;
  @media screen and (min-width: 320px) {
    padding-top: 8px;
  }
}

// .header__logo-icon {
//   height: 50px;
// }

// MAIN NAVIGATION

.header__nav {
  margin-left: 128px;
  z-index: 3;
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.header__nav-list {
  display: flex;
  gap: 35px;
}

.header__nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: #ffffff;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__nav-link-active {
  color: $accent-color;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 159px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  transition: background-color 250ms linear;

  &:hover {
    background-color: #ecebeb;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
