// MOBILE-MENU

.header__mobile {
  position: absolute;

  padding: 20px 20px;
  top: 0;
  right: 0;
  background-color: #e17992;
  transform: translateY(-100%);
  transition: transform 250ms linear;
  z-index: 1;

  @media screen and (min-width: 320px) {
    width: 250px;
    height: 502px;
  }
  @media screen and (min-width: 768px) {
    width: 254px;
    height: 1020px;
  }
  @media screen and(min-width:1200px) {
    display: none;
  }
  &.is-open {
    transform: translateY(0);
  }
}

.header__burger {
  margin-left: auto;
  width: 20px;
  height: 12px;
  background-color: $bg-color;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.header__close {
  position: absolute;
  background-color: #e17992;
  top: 20px;
  right: 20px;
}

.header__mobile-button {
  margin-top: 40px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 209px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  transition: background-color 250ms linear;

  &:hover {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.header__mobile-list + .header__mobile-list {
  margin-top: 22px;
}

.header__mobile-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: #ffffff;
}
